{% extends "layout.html" %}

{% block style %}
<style>
  .post_hover:hover {
    background-color: rgba(0,0,255,0.1);
  }

  .test:link {
    color: black;
  }

  .test:visited {
    color: grey;
  }

  .post_info {
    font-size: 14px;
    color: grey;
  }

  @media screen and (max-width: 1920px) {
    .post_title {
      width: 80vw;
    }
  }

  @media screen and (max-width: 1024px) {
    .post_title {
      width: 65vw;
    }
  }

  @media screen and (max-width: 650px) {
    .post_title {
      width: 55vw;
    }
  }
</style>
{% endblock %}

{% block content %}

<!-- 게시글 목록 -->
    <table style="margin: 24px 0;">
      <tr class="bg-warning-subtle">
        <th style="padding:12px;">번 호</th>
        <th>제 목</th>
        <th>댓 글</th>
      </tr>
      {% for x in result %}
        <tr class="post_hover">
          <td style="width: 5vw; min-width: 60px; color: black;">{{x[0]}}</td>
          <td class="post_title" style="display: flex; white-space: nowrap; overflow: hidden;">
            <a class="test" href="/board/{{x[0]}}/" style="width: 100%; padding: 12px 0; text-decoration: none; text-align: start;">
              {{x[1]}}
              <div class="post_info">
                작성자 {{x[2]}} 조회수 0 좋아요 0
              </div>
            </a>
          </td>
          <td style="width: 10vw; min-width: 120px; color: black;">{{x[3]}}</td>
        </tr>
      {% endfor %}
    </table>
<!-- 페이징 -->
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination"  >
    <!-- 이전 버튼 -->
    {% if block_start - 1 > 0 %}
    <li class="page-item"><a class="page-link" href="/board/?page={{block_start-1}}">Previous</a></li>
    {% endif %}
    <!-- 페이지 버튼 -->
    {% for i in range(block_start, block_end + 1) %}
      {% if i >= total_page %}
      {% else %}
        <li class="page-item"><a class="page-link" href="/board/?page={{i}}">{{i}}</a></li>
      {% endif %}
    {% endfor %}
    <!-- 다음 버튼 -->
    {% if total_page - 1 > block_end %}
    <li class="page-item"><a class="page-link" href="{{ url_for('board.board', page = block_end + 1) }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
<!-- 글쓰기 버튼 -->
  <form class="d-flex justify-content-end" action="/write/">
    <button type="submit" class="btn btn-primary">글쓰기</button>
  </form>

{% endblock %}