{% extends "layout.html" %}

{% block style %}
<style>
  #heart {
  color: gray;
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#heart.active {
  color: red;
  transition: 0.3s;
}
</style>
{% endblock %}

{% block content %}
<script src="https://kit.fontawesome.com/9d89f9ed49.js" crossorigin="anonymous"></script>
  <!-- 제목 -->
  <div class="input-group mt-3 mx-auto mt-5" style="width: 90%;">
    <span class="input-group-text fw-bold border border-2 border-danger-subtle bg-danger-subtle" id="inputGroup-sizing-default">제목</span>
    <input name="title" value="{{title}}" type="text" class="form-control border border-2 border-danger-subtle" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" {{readonly}}>
  </div>
  <!-- 내용 -->
  <hr>
  <div class="text-start">
  {{ context | safe }}
  </div>
  <!-- 수정,삭제 버튼 -->
  {% if session['ucheck_ox'] == ucheck_oxid %}
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary m-2" onclick="location.href='/board/{{id}}/?method=update'" {{hidden}}>수정</button>
    <form  onsubmit="return confirm_delete()">
      <button class="btn btn-primary m-2" formaction="/board/{{id}}/delete" {{hidden}}>삭제</button>
    </form>
  </div>
  {% endif %}
  {% if hidden == "hidden" %}
  <button class="btn btn-primary m-2 w-auto mx-auto" onclick="location.href='/board/{{id}}/update'">등록</button>
   {% endif %}

<!-- 좋아요 -->
<form id="like_form" style="text-align: start;">
  <input name="like_btn" value="checked" type="checkbox" id="like_box" style="display: none;">
  <button type="submit" style="border: none; background-color: transparent;">
  <label for="like_box" onclick="like()" id="heart">&#10084;</label>
  </button>
  <span id="like_num">{{likes}}</span>
</form>
<div id="check_ox" style="display: none;">{{check_ox}}</div>

<!-- 댓글 -->
<hr>
<h4 class="text-start ps-3">댓글</h4>
{% for comment in comments%}
<div style="display:flex; align-items: start; flex-direction: column; padding-left: 1em;">
  <div style="margin-bottom: 4px;"><b>{{comment[2]}}</b> <i class="fa-solid fa-seedling"></i></div>
  <div class="text-start fw-light" style="white-space: pre; color: rgba(0,0,0,0.8);">{{comment[0]}}</div>
  <div class="opacity-50">{{comment[1]}}</div>
</div>
<hr>
{% endfor %}

<!-- 댓글입력창 -->
<form action="/postcomment/{{id}}/" method="POST" class="mx-auto my-4 text-start p-3" style="width: 85%; border: 1px rgba(243, 236, 236, 0.8) solid; border-radius: 1em; background-color: rgba(255,255,255,0.6); box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
  <div><b>{{nickname}}</b></div>
  <textarea id="commentTextarea" name="comment" placeholder="댓글을 남겨보세요." onkeyup="resize(this)" onkeydown="resize(this)" style="max-height: 200px; width: 100%; border: none; resize: none; outline: none; background-color:rgba(255,255,255,0.6); color: rgba(0,0,0,0.8); margin-top: 12px;"></textarea>
  <div class="text-end">
    <button class="p-2" id="registerBtn" type="submit" style="background-color: rgba(255,255,255,0.6); border: none; border-radius: 4px; transition: background-color 0.6s ease; color: rgba(0,0,0,0.5);">등록</button>
  </div>
  <textarea name="nickname" style="display:none;">{{nickname}}</textarea> 
</form>

<!-- javascript -->
<script>
function confirm_delete(){
  if (confirm("정말 삭제하시겠습니까?")){
    return true
  }
  else{
    return false
  }
}

function resize(obj) {
  obj.style.height = "1px"
  obj.style.height = 30 + obj.scrollHeight + "px"
  window.scrollTo(0, document.body.scrollHeight)
}

var commentTextarea = document.getElementById('commentTextarea')
var rgisterBtn = document.getElementById('registerBtn')
commentTextarea.addEventListener('keyup', test);

function test() {
  if(commentTextarea.value.length > 0){
    registerBtn.style.backgroundColor = 'rgba(255,0,255,0.7)';
    registerBtn.style.color = 'white';
  } else {
    registerBtn.style.backgroundColor = 'rgb(255,255,255,0.6)';
    registerBtn.style.color = 'rgba(0,0,0,0.5)';
  }
}

// 좋아요 상태 유지
var check_ox = document.getElementById('check_ox').innerHTML
  var like_box = document.getElementById('like_box')
  if (check_ox === 'None') { //좋아요 누른적이 없다면
    like_box.checked = false;
  } else { //좋아요 누른적이 있다면
    like_box.checked = true;
  }

// 게시글 좋아요 
var heart = document.getElementById("heart");
var like_box = document.getElementById('like_box');
if (like_box.checked === true) {
  heart.classList.add('active')
} else {
  heart.classList.remove('active')
}

// 하트 클릭시마다 ..
function like() {
  var heart = document.getElementById("heart");
  const like_effect_sound = new Audio('/static/sound/like.wav')
  like_effect_sound.play()
  heart.classList.toggle('active');
  if (heart.classList.contains('active')) {
    var num = document.getElementById("like_num").innerHTML;
    document.getElementById("like_num").innerHTML = parseInt(num) + 1;
  } else {
    var num = document.getElementById("like_num").innerHTML;
    document.getElementById("like_num").innerHTML = parseInt(num) - 1; 
  }
}


// 좋아요 폼 제출 이벤트리스너
document.getElementById("like_form").addEventListener("submit", function(event) {
    event.preventDefault(); // 폼 제출 방지
    var form_data = new FormData(this); // 폼 데이터 수집
    form_data.append('id', {{id}})
    var xhr = new XMLHttpRequest(); // XMLHttpRequest 객체 생성
    xhr.open("post", "{{ url_for('board.post_like') }}"); // 요청 설정
    xhr.onload = function() { // 요청 완료 후 실행할 콜백 함수
        if (xhr.status === 200) { // 요청 성공
            var response = xhr.responseText; // 서버 응답 받기
            console.log(response); // 콘솔에 응답 출력
            // 페이지 업데이트 로직 작성
        } else { // 요청 실패
            console.error(xhr.statusText); // 에러 메시지 출력
        }
    };
    xhr.send(form_data); // 요청 전송
});

</script>
{% endblock %}

{% block script %}

{% endblock %}