{% extends "layout.html" %}

{% block content %}
<script type="text/javascript">
    window.history.forward();
    function noBack(){window.history.forward();}
</script>

<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
<form action="/board/{{id}}/update" method="POST">
  <!-- 제목 -->
  <div class="input-group mt-3 mx-auto mt-5" style="width: 65%;">
    <span class="input-group-text fw-bold border border-2 border-danger-subtle bg-danger-subtle" id="inputGroup-sizing-default">제목</span>
    <input name="title" value="{{title}}" type="text" class="form-control border border-2 border-danger-subtle" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" {{readonly}}>
  </div>
  <!-- 내용 -->
  <div class="mb-3" style="text-align: center;">
    <label for="exampleFormControlTextarea1" class="form-label mt-3"><h4></h4></label>
    <textarea name="context" class="form-control mx-auto border border-2 border-warning-subtle" id="exampleFormControlTextarea1" rows="16" style="width:65%" {{readonly}}>{{context}}</textarea>
  </div>
  <button class="btn btn-primary m-2 w-auto mx-auto">등록</button>
</form>
</body>
{% endblock %}